:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.srt_box {
  position: absolute;
  transform-origin: top left;
  width: var(--box_width);
  height: var(--box_height);
  top: var(--box_top);
  left: var(--box_left);
  transform:scaleX(var(--scale_x)) scaleY(var(--scale_y));
}

.srt_text {
  /* 配置 */
  position: relative;
  display: flex;
  width:max-content;
  height:max-content;
  padding: 10px;
  max-width: var(--box_width);
  max-height: var(--box_height);
  z-index: 2;

  user-select: none;
  cursor: grab;
  transform: translate(0%, 0%);

  /* 改行表示 */
  white-space:pre-wrap;
  word-wrap:break-word;
  
  /* 基本スタイル */
  font-family: var(--txt_font), Arial, sans-serif;
  font-size: var(--txt_size,25px);
  font-style:var(--txt_style,normal);
  color: var(--txt_color,black);
  letter-spacing: var(--txt_space,0);
  line-height:var(--txt_line_space,10px);
  font-weight: var(--txt_weight,normal);
  text-align: var(--txt_align,left);

  /* 縦書き・横書き */
  text-orientation: upright;
  writing-mode: var(--txt_rotate,horizontal-tb);

  /* 縁取り */
  -webkit-text-stroke:var(--out1_size) var(--out1_color,rgb(255, 255, 255));
  paint-order: stroke;
}
.srt_text::before,.srt_text::after {
  width: 100%;
  color: #fff;
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.srt_text::before {
  -webkit-text-stroke:var(--out2_size) var(--out2_color,white);
  z-index: 1;
}
.srt_text::after {
  -webkit-text-stroke: var(--shadow_color,5px) var(--shadow_color,white);
  filter: 
    drop-shadow(5px 5px 10px rgba(255, 0, 0, 0.5)) 
    drop-shadow(-5px -5px 10px rgba(0, 0, 255, 0.5));
  z-index: 0;
}